.Polaris-Button {
  min-height: 30px;
}

.conditions>.Polaris-Select {
  margin-top: 100px;
  width: 200px;
}

.select-header {
  font-weight: bolder;
  color: rgb(1, 10, 14);
}
p{
  font-size: 14px;
  font-weight: 
  400;
}

.zonetext> .Polaris-Labelled__LabelWrapper> .Polaris-Label> .Polaris-Label__Text> .Polaris-Text--root{
  font-weight: bold;
}


/* Global styles (in your CSS file or a <style> tag) */
/* body, html {
  overflow: hidden;
  height: 100%;
} */
